@font-face {
    font-family: "Maratre";
    src: url(fonts/maratre/Maratre.otf);
}
@font-face {
    font-family: "Janda";
    src: url(fonts/janda_stylish_script/JandaStylishScript.ttf);
}
@font-face {
   font-family: "Monsieur_La_Doulaise";
   src: url(fonts/monsieur-la-doulaise/MonsieurLaDoulaise-Regular.ttf);
}
@font-face {
   font-family: "Brotherhood";
   src: url(fonts/brotherhood-script/Brotherhood_Script.ttf);
}
@font-face {
   font-family: "Promo";
   src: url(fonts/promocyja/Promocyja096.ttf);
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    
}


/*
#div_fondo {
   
    background-image: url("/Fotos/atardecer-verano-1-U60630035788kWl-1200x630@abc.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   background-position: center bottom;
    background-attachment: fixed;
    height: 30em;

}
#inline_decorado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30em;
   
}
#nos_casamos{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

   

#nos{
    font-family: "Maratre";
    font-size: 8em;
    margin-bottom: 0px;
    text-align: center;
    color: beige;
}
#cas{
    font-family: "Janda";
    font-size: 4em;
    align-self: flex-end;
    margin-top: 0px;
    text-align: center;
    color: beige;
}

.flor_deco{
   height: 20em;
}
 
*/

#seccion_1{
   height: 30em;
   background-color: black;
   
}
#novios{
    height: 30em;
    width: 45%;
    position: absolute;
    right: 0;
    z-index: auto;
}
#adorno{
    height: 25em;
    width: 40%;
    position: absolute;
    left: 0;
    z-index: auto;
}
#nos_casamos{
   position: relative;
   
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

  

#nos{
   font-family: "Maratre";
   font-size: 8em;
   margin-top: 8%;
   margin-bottom: 0px;
   text-align: center;
   color: goldenrod;
}
#cas{
   font-family: "Janda";
   font-size: 4em;
   margin-top: 0px;
   text-align: center;
   color: goldenrod;
}



.triangulo {
 
   bottom: 0;
   left: 50%;
  
   
   height: 0;
   border-left: 50vw solid transparent; /* Tamaño del triángulo */
   border-right: 50vw solid transparent; /* Tamaño del triángulo */
   border-top: 100px solid black; /* Tamaño del triángulo y color */
 }




 #nuestra_historia{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 4em;
     margin-bottom: 4em;
 }
 #parag_historia{
    width: 70%;
    display: flex;
    font-family: "Promo";
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color:darkgrey;
 }

 .trianguloVerticeSuperior {
   bottom: 0;
   left: 50%;
  
   height: 0;
   border-left: 50vw solid transparent; /* Tamaño del triángulo */
   border-right: 50vw solid transparent; /* Tamaño del triángulo */
   border-bottom: 100px solid #ECE7E3; /* Tamaño del triángulo y color */
}

#espacioTriangulo{
   height: 2em;
   background-color: #ECE7E3;
}
 #carrusel_container{
   
    display: flex;
    align-items: center;
    background: linear-gradient(120deg, white 0%, white 100%); /*sin utilidad por el momento */
 }
 .mySwiper{
    width: 100%;
    
 }
 .swiper{
   background-color: #ECE7E3;
 }
 .swiper-wrapper{
     align-items: center;
     background-color: #ECE7E3;
 }
 .swiper-slide{
    height: 400px;
    background: #eee;
    
    margin-bottom: 10px;
    
    overflow: hidden;
    position: relative; /*al pedo probablemente */
 }
 .swiper-slide img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    box-shadow: rgba(0,0,0,0) 0px 0px 0px; /*darle sombra al contendor de foto*/
 }

 .shadow{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)); /*darle tonalidad a las fotos*/
 }

 #seccion_info{
    height: 580px;
    background-color: #ECE7E3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }

 #tarjetas_container{
    height: 560px;
    width: 90%;
    border-radius: 10%;
    background-color: #ECE7E3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }


 .tarjeta{
    width: 30%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 3%;
   
 }

 .img_info_cont{
    height: 50%;
    border-radius: 10%;
 }

 .img_info{
    width: 100%;
    height: 100%;
   
 }

 .info_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding-top: 3px;
    
 }

 .infogr{
    height: 20%;
 }

 .info1{
    font-family: "Maratre" ;
    font-size: 2em;
    display: flex;
    align-items: inherit;
 }
 .info2{
    font-family: "Janda";
    font-size: 1em;
    display: flex;
    align-items: inherit;

 }


 




 #contador{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 1em;
   background-color: black;
   color: aliceblue;
   
 }

 .timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2;
 }

 .contador_numeros{
    font-size: 4em;
    font-weight: 900;
   
 }
 .contador_unidad_tiempo{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0px;
 }

 #seccion_codigo_vestimenta{
   height: auto;
   background-color: #ECE7E3;
   padding-top: 3em;
   padding-bottom: 2em;
 }
 
 #titulo_codigo_vestimenta{
    font-family: "sans-serif";
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    margin-top: 0px;
 }




 #tipos_vestimenta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
   
    
 }

 .boton_vestimenta{
   background-color: whitesmoke;
   border-radius: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px 40px 5px 40px;
   height: fit-content;
   margin-right: 5%;
   margin-left: 5%;
 }

 .boton_vestimenta:hover{
   background-color: cadetblue;
 }
 .texto_boton_vestimenta{
   padding-top: 0px;
   padding-bottom: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
 }

 #imagenVestimentaContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1em;
   display: none;
 }

 #ejemploVestimenta{
   height: 200px;
   width: 300px;
   border-radius: 10%;

 }


#contendor_hospedajes{
   height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


#boton_hospedajes{
   background-color: black;
   color: aliceblue;
   font-weight: 500;
   font-size: 1,5em;
   text-align: center;
   padding-top: 1em;
   
   margin-top:1%;
   margin-bottom: 0px;
   width: max-content;
   border-radius: 15px;
}

#hospedajes{
   
   border: 1px solid black;
   padding: 3px;
   margin-top: 10px;
   /*cambia a flex por js */
   display: none;
   opacity: 0;
   transition: opacity 0.5s ease-out;
   flex-direction: column;
   
}
#hospedajes.visible {
   display: flex; /* o el valor que prefieras, como block o inline-block */
   opacity: 1;
}
.fila-hospedajes{
   display: flex;
   flex-direction: row;
}
.tarjeta-hotel{
  display: flex;
  flex-direction: row;
  width: 300px;
  border: 1px solid black;
  padding: 0px;
  margin: 2px;
   
}
.datos-hotel{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.datos-hotel p, .datos-hotel h4, .datos-hotel a {
    margin: 0;
  text-align: center;
}

.foto-hotel img{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#mesa-regalos{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   margin-top: 1%;
   background-color: #ECE7E3 ;
   padding-top: 1.5em;
   padding-bottom: 2em;
}

#mesa-regalos h1{
   font-family: "sans-serif";
   font-weight: 900;
   font-size: 1.5em;
   text-align: center;
   padding-top: 1em;
   margin-top: 0px;
}

#texto-regalos{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

#texto-regalos p{
   font-size: 1.2em;
   text-align: center;
   width: 75%;
   margin-bottom: 0px;
}

#datos-transferencia{
   border: 1px solid black;
   padding: 40px;
   margin-top: 30px;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #d5cec7;
   display: none;
}

#datos-transferencia p{
   font-size: 1em;
   text-align: center;
      
}

#contenedor-boton{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#boton-datos-cuenta{
   background-color: #d5cec7;
   border-radius: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid black;
   width:max-content ;
   padding-left: 5px;
   padding-right: 5px;
   margin-right: 5%;
   margin-left: 5%;
   margin-top: 20%;
}

#boton-datos-cuenta:hover{
   background-color: #b4aca5;
   scale: 1.1;
}

#sugerencias-canciones{
   display: flex;
   color: white;
   flex-direction: column;
   align-items: center;
   height: auto;
   background-color: black;
   padding-top: 1em;
   padding-bottom: 2em;
}




@media (max-width: 930px) {

   #seccion_info{
    height: 100%;
    background-color: #ECE7E3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }

    #tarjetas_container{
       flex-direction: column;
       height: 100%;
       width: 100%;
       max-width: 100%;
    }

    .tarjeta{
      width: 80%;
      margin-bottom: 10px;

 }

 .contador_numeros{
   font-size: medium;
   font-weight: 900;
  
}
.contador_unidad_tiempo{
   font-size: medium;
   font-weight: 500;
   margin-top: 0px;

}


.fila-hospedajes{
   flex-direction: column;
   max-width: 100%;
}

#seccion_1{
   height: 15em;
   background-color: black;
   
}
#novios{
    height: 15em;
    width: 22.5%;
    position: absolute;
    right: 0;
    z-index: auto;
}
#adorno{
    height: 12.5em;
    width: 20%;
    position: absolute;
    left: 0;
    z-index: auto;
}
#nos_casamos{
   position: relative;
   
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

  

#nos{
   font-family: "Maratre";
   font-size: 4em;
   margin-top: 20%;
   margin-bottom: 0px;
   text-align: center;
   color: goldenrod;
}
#cas{
   font-family: "Janda";
   font-size: 2em;
   margin-top: 0px;
   text-align: center;
   color: goldenrod;
}

.boton_vestimenta{
background-color: whitesmoke;
border-radius: 100px;
display: flex;
flex-direction: column;
align-items: center;
padding: 5px 40px 5px 40px;
height: fit-content;
margin-right: 2.5%;
margin-left: 2.5%;
 }

}